# ===============================
# Spring Boot / Maven
# ===============================
HELP.md
target/
!**/src/main/**/target/
!**/src/test/**/target/

# Maven Wrapper
.mvn/wrapper/maven-wrapper.jar

# ===============================
# IntelliJ IDEA
# ===============================
.idea/
*.iml
*.iws
*.ipr

# ===============================
# STS / Eclipse
# ===============================
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# ===============================
# NetBeans
# ===============================
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

# ===============================
# VS Code
# ===============================
.vscode/

# ===============================
# Upload folder (dynamic images only)
# ===============================
uploads/

# ===============================
# Logs
# ===============================
*.log