<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>My Addresses</title>
</head>
<body>
<h2>My Addresses</h2>

<a th:href="@{/my-account/address/add-page}">Add New Address</a>
<h1>Address Page Working ✅</h1>
<div th:if="${#lists.isEmpty(addresses)}">
    <p>No addresses found</p>
</div>
<div class="address-box" th:each="addr : ${addresses}">

<h4 th:text="${addr.name}"></h4>

<p th:text="${addr.fullAddress}"></p>

<p>
    <span th:text="${addr.city}"></span>,
    <span th:text="${addr.state}"></span> -
    <span th:text="${addr.pincode}"></span>
</p>

<span th:if="${addr.isDefault}" style="color: green;">
        Default
    </span>

</div>
</body>
</html>